venv_whisperlive/
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class


*.wav
*.srt
*.mp3

# C extensions
*.so

# Distribution / packaging
build/
dist/
*.egg-info/
pip-wheel-metadata/

# Virtual environments and env files
.env
.venv/
env/
venv/
ENV/

# IDEs and editors
.idea/
.vscode/
*.sublime-workspace
*.sublime-project

# Testing, type checking, coverage
.pytest_cache/
.mypy_cache/
.coverage
htmlcov/

# Jupyter
.ipynb_checkpoints/

# OS/editor files
*.swp
*.swo
.DS_Store
Thumbs.db

# Logs
*.log
